.admin_main {
    background-color: rgba(41, 45, 50, 255);
    display: flex;
    height: 100vh;
    color: #fff;
}

.admin_right {
    width: 100%;
    /* background: rgb(0,15,33);
    background: radial-gradient(circle, rgba(0,15,33,1) 36%, rgba(41,45,50,1) 100%); */
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);
    overflow: auto;
}

/* background: #0f0c29;
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/* CSS */
.button-27 {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    outline: none;
    padding: 10px 24px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.button-27:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-27:active {
    box-shadow: none;
    transform: translateY(0);
}


/* right */
.admin_right_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: rgb(28, 28, 28);
    background: radial-gradient(circle, rgba(28, 28, 28, 1) 31%, rgba(70, 70, 70, 1) 92%);
    height: 12vh;
}

.admin_right_nav p {
    color: rgb(224, 224, 224);
    font-size: 18px;
}

/* TABLE */

.table {
    text-align: center;
    height: 88vh;
    overflow: auto;
}

.tr {
    background-color: rgba(167, 167, 167, 0.196);
    color: #fff;
    text-decoration: none;
    display: grid;
    grid-template-columns: 4% repeat(4, 24%);
}

.thead {
    background-color: #101010;
    position: sticky;
    top: 0;
}

.th,
.td {
    padding: 10px 5px;
}

.tbody .tr:hover {
    transition: 0.3s;
    background-color: rgba(210, 210, 210, 0.421);
    cursor: pointer;
}

.td,
.th {
    border: 0.1px solid gray;
}

/* search */
.search_bar {
    display: flex;
    gap: 10px;
    background: #ffffff1e;
    padding: 15px;
    border-radius: 5px;
}

.search_bar input {
    background-color: #ffffff00;
    font-size: 16px;
    color: white;
    border: 1px solid gray;
    padding: 5px;
    outline: none;
    border-radius: 5px;
}



.search_active {
    background-color: red;
}